@media (min-width:375px) {
  .breakpoint-0 {
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
  .style32 {
    background-color: #f6f8f9;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .desktop1container5row0 {
    display: flex;
    width: 97.222%;
    height: 60%;
    align-items: center
  }
  .style33,
  .style34,
  .style35,
  .style36,
  .style37 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700;
    height: 50%
  }
  .style34,
  .style35,
  .style36,
  .style37 {
    font-size: 11px;
    height: 40%
  }
  .style38 {
    width: 2.142%;
    height: 100%
  }
  .desktop1row1 {
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 60vh;
    align-items: stretch
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j7kok.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 58.333%;
    flex-direction: column
  }
  .style5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    width: 71.428%
  }
  .style1,
  .style2,
  .style5 {
    font-family: Helvetica,serif
  }
  .style2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    width: 71.428%
  }
  .style1 {
    font-size: 16px;
    line-height: 26px;
    width: 66.666%;
    align-self: center
  }
  .style3 {
    background-color: #fa6980;
    display: flex;
    width: 15.952%;
    height: 6.666%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px
  }
  .style4 {
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    width: 55.223%
  }
  .style60 {
    background-color: #fff;
    display: flex;
    width: 41.666%;
    flex-direction: column
  }
  .desktop1row1container9row0 {
    display: flex;
    width: 63.333%;
    height: 3.333%;
    align-items: center
  }
  .style61 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 87.105%
  }
  .style63 {
    position: relative
  }
  .style62,
  .style63 {
    width: 1.578%;
    height: 50%
  }
  .style65,
  .style66 {
    font-family: Helvetica,serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 70%
  }
  .style67 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    line-height: 26px;
    width: 63.333%
  }
  .desktop1row1container9row4 {
    display: flex;
    width: 14%;
    height: 2.666%;
    align-items: stretch
  }
  .style69 {
    width: 19.047%
  }
  .style68,
  .style70,
  .style71 {
    font-family: Helvetica,serif;
    font-size: 13px;
    line-height: 26px;
    width: 69.047%
  }
  .style70,
  .style71 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 70%
  }
  .style72 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    line-height: 26px;
    width: 63.333%
  }
  .desktop1row1container9row8 {
    display: flex;
    width: 14%;
    height: 2.666%;
    align-items: stretch
  }
  .style74 {
    width: 19.047%
  }
  .style73 {
    font-family: Helvetica,serif;
    font-size: 13px;
    line-height: 26px;
    width: 69.047%
  }
  .desktop1row2 {
    display: flex;
    margin-left: 9.72%;
    margin-top: 4%;
    width: 80.555%;
    height: 2vh;
    align-items: center
  }
  .style57 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 88.362%
  }
  .style58,
  .style59 {
    width: .517%;
    height: 50%
  }
  .desktop1row3 {
    display: flex;
    margin-left: 9.72%;
    margin-top: 4%;
    width: 80.555%;
    height: 18vh;
    align-items: stretch;
    justify-content: space-between
  }
  .style39,
  .style40 {
    position: relative;
    display: flex;
    flex-direction: column
  }
  .style40 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j7o20.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 31.034%;
    align-items: stretch
  }
  .style39 {
    background-color: #fff;
    height: 100%;
    flex-shrink: 0;
    border-radius: 6px 6px
  }
  .style41,
  .style42 {
    width: 77.777%;
    align-self: center
  }
  .style41 {
    font-weight: 700;
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 20px
  }
  .style42 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    line-height: 23px
  }
  .desktop1row3image8container6row2 {
    display: flex;
    width: 19.166%;
    height: 8.888%;
    align-items: stretch
  }
  .style44 {
    width: 23.188%
  }
  .style43 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style45,
  .style46 {
    position: relative;
    display: flex;
    flex-direction: column
  }
  .style46 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j7rqx.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 31.034%;
    align-items: stretch
  }
  .style45 {
    background-color: #fff;
    height: 100%;
    flex-shrink: 0;
    border-radius: 6px 6px
  }
  .style47,
  .style48 {
    width: 77.777%;
    align-self: center
  }
  .style47 {
    font-weight: 700;
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 20px
  }
  .style48 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    line-height: 23px
  }
  .desktop1row3image10container7row2 {
    display: flex;
    width: 18.333%;
    height: 8.888%;
    align-items: stretch
  }
  .style50 {
    width: 24.242%
  }
  .style49 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style51,
  .style52 {
    position: relative;
    display: flex;
    flex-direction: column
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j7tez.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 31.034%;
    align-items: stretch
  }
  .style51 {
    background-color: #fff;
    height: 100%;
    flex-shrink: 0;
    border-radius: 6px 6px
  }
  .style53,
  .style54 {
    width: 77.777%;
    align-self: center
  }
  .style53 {
    font-weight: 700;
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 20px
  }
  .style54 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    line-height: 23px
  }
  .desktop1row3image12container8row2 {
    display: flex;
    width: 18.333%;
    height: 8.888%;
    align-items: stretch
  }
  .style56 {
    width: 24.242%
  }
  .style55 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .desktop1row4 {
    display: flex;
    margin-left: 9.72%;
    margin-top: 21%;
    width: 80.555%;
    height: 2vh;
    align-items: center
  }
  .style7 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 66.379%
  }
  .style75,
  .style76 {
    width: .517%;
    height: 50%
  }
  .desktop1row5 {
    display: flex;
    margin-left: 9.72%;
    margin-top: 4%;
    width: 80.555%;
    height: 43vh
  }
  .style89 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j80vd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 65.517%;
    height: 100%;
    flex-direction: column
  }
  .style90,
  .style91,
  .style94 {
    font-family: Helvetica,serif
  }
  .style94 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 90.789%
  }
  .style90,
  .style91 {
    width: 89.473%;
    align-self: center
  }
  .style91 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px
  }
  .style90 {
    font-size: 16px;
    line-height: 26px
  }
  .desktop1row5image29row3 {
    display: flex;
    width: 8.815%;
    height: 3.72%;
    align-items: stretch
  }
  .style93 {
    width: 23.88%
  }
  .style92 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .desktop1row5column1 {
    display: flex;
    width: 31.034%;
    height: 121.395%;
    flex-direction: column
  }
  .style78 {
    width: 100%;
    height: 40.229%
  }
  .style77 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 100%
  }
  .desktop1row5column1row2 {
    display: flex;
    width: 41.944%;
    height: 3.065%;
    align-items: stretch
  }
  .style80 {
    width: 10.596%
  }
  .style79 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style82 {
    width: 100%;
    height: 40.229%
  }
  .desktop1row6 {
    display: flex;
    margin-left: 9.72%;
    margin-top: 4%;
    width: 80.555%;
    height: 43vh;
    align-items: flex-end
  }
  .style95 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j81n9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 65.517%;
    height: 100%;
    flex-direction: column
  }
  .style100,
  .style96,
  .style97 {
    font-family: Helvetica,serif
  }
  .style100 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 90.789%
  }
  .style96,
  .style97 {
    width: 89.473%;
    align-self: center
  }
  .style97 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px
  }
  .style96 {
    font-size: 16px;
    line-height: 26px
  }
  .desktop1row6image31row3 {
    display: flex;
    width: 8.815%;
    height: 3.72%;
    align-items: stretch
  }
  .style99 {
    width: 23.88%
  }
  .style98 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .desktop1row6column1 {
    display: flex;
    width: 31.034%;
    height: 82.325%;
    flex-direction: column
  }
  .style81 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 100%
  }
  .desktop1row6column1row1 {
    display: flex;
    width: 32.222%;
    height: 4.519%;
    align-items: stretch
  }
  .style84 {
    width: 13.793%
  }
  .style83 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style86 {
    width: 100%;
    height: 59.322%
  }
  .style85 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 100%
  }
  .desktop1row6column1row4 {
    display: flex;
    width: 35.833%;
    height: 4.519%;
    align-items: stretch
  }
  .style88 {
    width: 12.403%
  }
  .style87 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style8 {
    background-color: #a6adb4;
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 20vh;
    flex-direction: column
  }
  .desktop1container1row0 {
    position: relative;
    display: flex;
    width: 80.555%;
    height: 20%;
    align-self: center
  }
  .style21 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    font-weight: 700;
    height: 32.5%;
    flex-shrink: 0
  }
  .desktop1container1row0column1 {
    display: flex;
    width: 5.344%;
    height: 95%;
    flex-direction: column;
    flex-shrink: 0
  }
  .style18,
  .style9 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700;
    height: 39.473%
  }
  .desktop1container1row0column2 {
    display: flex;
    width: 3.275%;
    height: 95%;
    flex-direction: column;
    flex-shrink: 0
  }
  .style10,
  .style19 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700;
    height: 39.473%
  }
  .desktop1container1row0column3 {
    display: flex;
    width: 6.81%;
    height: 95%;
    flex-direction: column;
    flex-shrink: 0
  }
  .style11,
  .style20 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700;
    height: 39.473%
  }
  .style22 {
    background-color: #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: .10000000149011612;
    position: relative;
    display: flex;
    width: 22.413%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 6px
  }
  .desktop1container1row0container2row0 {
    display: flex;
    width: 84.615%;
    height: 40%;
    align-items: stretch
  }
  .style24 {
    font-family: Helvetica,serif;
    font-size: 13px;
    line-height: 20px;
    width: 15.909%
  }
  .style23 {
    width: 7.272%
  }
  .style28,
  .style30 {
    width: 1.379%;
    height: 40%;
    flex-shrink: 0
  }
  .style28 {
    background-color: #fff;
    display: flex;
    align-items: stretch;
    flex-direction: column
  }
  .style29 {
    height: 81.109%
  }
  .style26 {
    background-color: #fff;
    display: flex;
    width: 1.379%;
    height: 40%;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .style27 {
    height: 100%
  }
  .style31 {
    width: 1.379%;
    height: 40%;
    flex-shrink: 0
  }
  .desktop1container1row1 {
    display: flex;
    width: 19.027%;
    height: 7.5%;
    align-items: stretch
  }
  .style12,
  .style13,
  .style14 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700
  }
  .style25 {
    font-family: Helvetica,serif;
    font-size: 11px;
    line-height: 20px;
    width: 18.055%
  }
  .desktop1container1row3 {
    display: flex;
    width: 17.222%;
    height: 7.5%;
    align-items: stretch
  }
  .style15,
  .style16,
  .style17 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700
  }
}
@media (max-width:375px) {
  .breakpoint-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
  .style167,
  .style168 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column
  }
  .style167 {
    background-color: #f6f8f9;
    height: 10.837vh
  }
  .style168 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j8gaf.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 50%;
    justify-content: center
  }
  .mobile1container5image26row0,
  .style174 {
    display: flex;
    width: 90.487%;
    height: 36.363%;
    align-items: center
  }
  .style174 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j8hhw.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    width: 15.913%;
    height: 100%;
    align-items: stretch;
    flex-direction: column
  }
  .style175 {
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 14px;
    position: relative;
    flex-shrink: 0
  }
  .style173 {
    width: 5.009%;
    height: 66.665%
  }
  .style172 {
    width: 4.5%;
    height: 68.534%
  }
  .style169 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j8ggr.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #343638;
    border-right: 1px solid #343638;
    border-top: 1px solid #343638;
    border-bottom: 1px solid #343638;
    opacity: .3499999940395355;
    display: flex;
    width: 6.483%;
    height: 70.834%;
    align-items: stretch;
    flex-direction: column
  }
  .style171 {
    height: 64.706%
  }
  .style170 {
    width: .391%;
    height: 25%
  }
  .mobile1container5row1 {
    display: flex;
    width: 91.466%;
    height: 27.272%
  }
  .style179 {
    background-color: #343638;
    width: 4.664%;
    height: 8.333%;
    border-radius: 1px
  }
  .mobile1container5row1column0 {
    display: flex;
    width: 4.664%;
    height: 58.333%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between
  }
  .style180,
  .style181 {
    background-color: #343638;
    width: 62.5%;
    height: 14.285%;
    border-radius: 1px
  }
  .style181 {
    width: 100%
  }
  .style176 {
    font-family: Helvetica,serif;
    font-size: 13px;
    font-weight: 700;
    height: 62.5%
  }
  .style177 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j8hpb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 4.664%;
    height: 100%;
    align-items: stretch;
    flex-direction: column
  }
  .style178 {
    background-color: #fff;
    height: 66.666%;
    border-radius: 50%
  }
  .style101,
  .style102 {
    display: flex;
    flex-direction: column
  }
  .style101 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j82om.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-top: 0;
    width: 100%;
    height: 47.783vh;
    align-items: stretch
  }
  .style102 {
    background-color: rgba(0,0,0,.2);
    height: 100%
  }
  .style107 {
    font-size: 24px;
    font-weight: 700;
    line-height: 42px
  }
  .style103,
  .style104,
  .style107 {
    font-family: Helvetica,serif;
    width: 87.2%;
    align-self: center
  }
  .style104 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px
  }
  .style103 {
    font-size: 16px;
    line-height: 26px
  }
  .style105 {
    background-color: #fa6980;
    display: flex;
    width: 40.266%;
    height: 10.309%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px
  }
  .style106 {
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 11px;
    font-weight: 700;
    height: 30%
  }
  .style152 {
    background-color: #fff;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 58.866vh;
    flex-direction: column
  }
  .mobile1container4row0 {
    display: flex;
    width: 87.2%;
    height: 4.184%;
    align-items: center;
    align-self: center
  }
  .style153 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 46.177%
  }
  .style154,
  .style155 {
    width: 1.834%;
    height: 50%
  }
  .style157,
  .style158,
  .style159 {
    font-size: 16px;
    width: 87.2%;
    align-self: center
  }
  .style157,
  .style158 {
    font-weight: 700;
    font-family: Helvetica,serif;
    line-height: 20px
  }
  .style159 {
    font-family: 'Acumin Pro',serif;
    line-height: 26px
  }
  .mobile1container4row4 {
    display: flex;
    width: 18.4%;
    height: 3.347%;
    align-items: stretch
  }
  .style161 {
    width: 23.188%
  }
  .style160 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style162,
  .style163,
  .style164 {
    font-size: 16px;
    width: 87.2%;
    align-self: center
  }
  .style162,
  .style163 {
    font-weight: 700;
    font-family: Helvetica,serif;
    line-height: 20px
  }
  .style164 {
    font-family: 'Acumin Pro',serif;
    line-height: 26px
  }
  .mobile1container4row8 {
    display: flex;
    width: 17.599%;
    height: 3.347%;
    align-items: stretch
  }
  .style166 {
    width: 24.242%
  }
  .style165 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .mobile1row3 {
    display: flex;
    margin-left: 6.4%;
    margin-top: 4.92%;
    width: 87.2%;
    height: 2.463vh;
    align-items: center
  }
  .style121 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 38.532%
  }
  .style122,
  .style123 {
    width: 1.834%;
    height: 50%
  }
  .style109,
  .style110 {
    margin-left: 6.4%;
    margin-top: 4.92%;
    width: 87.2%;
    height: 18.965vh
  }
  .style109 {
    background-color: #fff;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    border-radius: 6px 6px
  }
  .style111,
  .style112 {
    width: 85.321%;
    align-self: center
  }
  .style111 {
    font-weight: 700;
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 20px
  }
  .style112 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    line-height: 23px
  }
  .mobile1container2row2 {
    display: flex;
    width: 21.1%;
    height: 10.389%;
    align-items: stretch
  }
  .style114 {
    width: 23.188%
  }
  .style113 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style115,
  .style116 {
    margin-left: 6.4%;
    margin-top: 4.92%;
    width: 87.2%;
    height: 18.965vh
  }
  .style115 {
    background-color: #fff;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    border-radius: 6px 6px
  }
  .style117,
  .style118 {
    width: 85.321%;
    align-self: center
  }
  .style117 {
    font-weight: 700;
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 20px
  }
  .style118 {
    font-family: 'Acumin Pro',serif;
    font-size: 13px;
    line-height: 23px
  }
  .mobile1container3row2 {
    display: flex;
    width: 20.183%;
    height: 10.389%;
    align-items: stretch
  }
  .style120 {
    width: 24.242%
  }
  .style119 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .mobile1row8 {
    display: flex;
    margin-left: 6.4%;
    margin-top: 4.92%;
    width: 87.2%;
    height: 2.463vh;
    align-items: center
  }
  .style124 {
    font-family: Helvetica,serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    width: 63.914%
  }
  .style125,
  .style126 {
    width: 1.834%;
    height: 50%
  }
  .style127 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j88zy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 6.4%;
    margin-top: 4.8%;
    width: 87.2%;
    height: 36.945vh;
    flex-direction: column
  }
  .style132 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px
  }
  .style128,
  .style129,
  .style132 {
    font-family: Helvetica,serif;
    width: 85.321%;
    align-self: center
  }
  .style129 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px
  }
  .style128 {
    font-size: 16px;
    line-height: 26px
  }
  .mobile1image10row3 {
    display: flex;
    width: 21.1%;
    height: 5.333%;
    align-items: stretch
  }
  .style131 {
    width: 23.188%
  }
  .style130 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style133 {
    background-image: url(https://designresources.assets.yotako.io/e7upykfl8tk87j89zu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 6.4%;
    margin-top: 4.92%;
    width: 87.2%;
    height: 36.945vh;
    flex-direction: column
  }
  .style138 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px
  }
  .style134,
  .style135,
  .style138 {
    font-family: Helvetica,serif;
    width: 85.321%;
    align-self: center
  }
  .style135 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px
  }
  .style134 {
    font-size: 16px;
    line-height: 26px
  }
  .mobile1image12row3 {
    display: flex;
    width: 20.183%;
    height: 5.333%;
    align-items: stretch
  }
  .style137 {
    width: 24.242%
  }
  .style136 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style139,
  .style140 {
    margin-left: 6.4%;
    width: 87.2%
  }
  .style139 {
    height: 22.167vh;
    margin-top: 9.97%
  }
  .style140 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 2.46%
  }
  .mobile1row13 {
    display: flex;
    margin-left: 6.4%;
    margin-top: 1.23%;
    width: 40.266%;
    height: 1.97vh;
    align-items: stretch
  }
  .style142 {
    width: 10.596%
  }
  .style141 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style143,
  .style144 {
    margin-left: 6.4%;
    width: 87.2%
  }
  .style143 {
    height: 22.167vh;
    margin-top: 4.92%
  }
  .style144 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 2.46%
  }
  .mobile1row16 {
    display: flex;
    margin-left: 6.4%;
    margin-top: 1.23%;
    width: 30.933%;
    height: 1.97vh;
    align-items: stretch
  }
  .style146 {
    width: 13.793%
  }
  .style145 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
  .style147,
  .style148 {
    margin-left: 6.4%;
    width: 87.2%
  }
  .style147 {
    height: 22.167vh;
    margin-top: 4.92%
  }
  .style148 {
    font-family: 'Acumin Pro',serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 2.46%
  }
  .mobile1row19 {
    display: flex;
    margin-left: 6.4%;
    margin-top: 1.23%;
    width: 34.4%;
    height: 1.97vh;
    align-items: stretch
  }
  .style150 {
    width: 12.403%
  }
  .style149 {
    font-family: Helvetica,serif;
    font-size: 13px
  }
}